<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083294713561-td7g2ig8b35fe58jrqh7auf5dh7tgv4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083294713561-td7g2ig8b35fe58jrqh7auf5dh7tgv4r</string>
	<key>API_KEY</key>
	<string>AIzaSyAvnDOf5ZnUiI1JPD5MrjGJyp7bu5tKHN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1083294713561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.han.SpeakIPA</string>
	<key>PROJECT_ID</key>
	<string>speakipa-e328e</string>
	<key>STORAGE_BUCKET</key>
	<string>speakipa-e328e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083294713561:ios:16ed56620c977e2b4c20c8</string>
</dict>
</plist>